@*@model IEnumerable<TranspositionWeb.Models.NotasModel>*@
@model List<TranspositionWeb.Models.NotasModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Transposición de Notas</h1>
<h3>DE: </h3>
<p class="alert alert-info" style="font-size:medium">Seeccione las notas a <strong>transportar</strong></p>
@*var listado = new List<SelectListItem>()
    {
           new SelectListItem()
           {
               Text="C",
               Value = "1"
           },
           new SelectListItem()
           {
               Text="Eb",
               Value = "2"
           },
           new SelectListItem()
           {
               Text="Bb",
               Value = "3"
           },
        };
    }
    <table class="table table-bordered">
        @Html.DropDownList("myDropBox", listado)
    </table>*@

<table class="table table-bordered">
    <thead class="table-info">
        <tr>
            <th>C</th>
            <th>Eb</th>
            <th>Bb</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            A
            <td>
                @Html.CheckBox("de", true)
            </td>
            <td>
                @Html.CheckBox("de", false)
            </td>
            <td>
                @Html.CheckBox("de", false)
            </td>
        </tr>
    </tbody>

</table>



<table class="table">
    @*<thead></thead>*@

    <tbody>

        @foreach (var item in Model)
        {

        <td>
            @Html.DisplayFor(modelItem => item.notasCromaticas) &nbsp; @Html.DisplayFor(modelItem => item.IsChecked)
        </td>
    }
        </tbody>
    </table>


    @using (Html.BeginForm("Edit", "Notas", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <table class="table">

            @foreach (var item in Model)
            {   
                @Html.HiddenFor(modelItem=>item.Id)
                @Html.HiddenFor(modelItem=>item.notasCromaticas)
            <td>
                @*@Html.EditorFor(modelItem => item.notasCromaticas, new { htmlAttributes = new { @readonly = "readonly" } })*@  
                @Html.DisplayFor(modelItem => item.notasCromaticas)  &nbsp; @Html.EditorFor(modelItem => item.IsChecked)
            </td>
            }

            <tr>
                <td>
                    <input type="submit" value="Transponer" class="btn btn-primary" />
                </td>
            </tr>

        </table>
    }
