<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TranspositionWeb</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@

    <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-lumen.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
            @*<nav class="navbar navbar-expand-lg navbar-dark bg-primary">*@
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container">

                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Web de Transposición</a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        
                        @*<div class="collapse navbar-collapse" id="navbarColor01">*@
                        <div id="navbarColor01">
                            @*<ul class="navbar-nav">*@
                                <ul>
                                <li class="nav-item">
                                    @Html.ActionLink("Principal", "Index", "Home", new { @class = "nav-link" })
                                </li>
                                @*Recordar cambiar Notas x Acorde *@
                                <li>@Html.ActionLink("Acordes", "Index", "Notas", new { @class = "nav-item" })</li>

                                <li>@Html.ActionLink("Notas", "Index", "Notas")</li>
                            </ul>
                        </div>

                    </div>
                </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Web para Transposición  - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
